 <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <p>&copy 2022 Lucas Krause. Todos os direitos reservados.
                <%= link_to "revisão e upload: Raphael Resende", "https://www.linkedin.com/in/raphael-resende-breitschaft-426685163/", target: '_blank', class: 'link-footer', margin: '5px' %>.
            <%= link_to "Código aqui!", "https://github.com/raphael-rbbr/wedding_Bruna-Lucas", target: '_blank', class: 'link-footer' %>
            </p>
          </div>
        </div>
      </div>
    </footer>
