<div class= "container m-2 p-3">
    <h3>Nossa História:</h3>
    <p>Se você está nesse site, certamente sabe que a história é longa demais para contar aqui e com certeza participou de boa parte dela. Juntos desde os 18 anos, nenhum dos dois tinha a menor expectativa que uma festa conjunta do Santo Agostinho e do Santo Inácio e alguns amigos em comum nos trariam até aqui quase exatos 10 anos depois. Já são mais de 3650 dias que incluem:  faculdade (e mestrado… e doutorado…), 1 intercâmbio, 2 casas, 1 eurotrip, 1 filhote de patas, 1 pandemia e incontáveis histórias incríveis. Ainda assim, a sensação é que essa a história está só começando. E é um prazer dividir tudo com vocês.</p>
</div>
