      <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
        <div class="container icone-barra">


          <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
            <i class="fas fa-bars text-white"></i>
          </button>

          <div class="collapse navbar-collapse" id="nav-principal">
            <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                 <%= link_to "B + L", root_path, class: "navbar-brand"%>
              </li>
              <li class="nav-item divisor sumir-celular"></li>

              <li class="nav-item quebra-celular">
               <%= link_to "Data & Local", pages_path, class: "navbar-brand"%>
              </li>

              <li class="nav-item divisor sumir-celular"></li>

              <li class="nav-item">
                <%= link_to "Confirmar Presença", "https://harmony.imgix.net/https%3A%2F%2Fcollectiveidea.harmonycms.com%2Fassets%2Ffangirl.gif?auto=compress&s=ecc5cf01f62905da19ccca763481d747", class: "navbar-brand"%>
              </li>

              <li class="nav-item divisor sumir-celular"></li>

              <li class="nav-item">
                <%= link_to 'Lista de presentes', "https://acegif.com/wp-content/uploads/gif-funny-work-53.gif", class: "navbar-brand",
                data: { confirm: "Voce esta sendo direcionado ao site da lista de compras. É isso que deseja?" }%>
              </li>
            </ul>
          </div>

        </div>
      </nav>
