<header><!-- inicio Cabecalho -->
      <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
        <div class="container icone-barra">

          <a href="index.html" class="navbar-brand" style="color: white; font-weight: 700; font-family: Copperplate, Papyrus, fantasy; font-size: 1.5em;">
            B + L
          </a>

          <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
            <i class="fas fa-bars text-white"></i>
          </button>

          <div class="collapse navbar-collapse" id="nav-principal">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="" class="nav-link">Confirmar Presença</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Presentes</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">História</a>
              </li>

              <li class="nav-item divisor sumir-celular"></li>

              <li class="nav-item">
                <a href="" class="nav-link">Cronograma</a>
              </li>
              <li class="nav-item quebra-celular">
                <a href="" class="nav-link">Local</a>
              </li>
            </ul>
          </div>

        </div>
      </nav>
    </header><!--/fim Cabecalho -->

     <section id="home" class="d-flex"><!--home -->
      <div class="container align-self-center"><!--container -->
        <div class="row"><!--row -->
          <div class="col-md-12 capa">

            <div><img src="imagens/sim.png" class="imagem-capa imagem-capa-pequena img-fluid"></div>

          <div class="col-md-12 capa"></div>
            <div id="carousel-spotify" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner"><!--Inner -->

                <div class="carousel-item active">
                  <h1>Casamento Bruna e Lucas</h1>
                  <a href="" class="btn btn-lg btn-custom btn-roxo">
                    CONFIRME SUA PRESENÇA
                  </a>

                  <a href="" class="btn btn-lg btn-custom btn-roxo">
                     COMPRE SEU PRESENTE
                  </a>
                </div>

                <div class="carousel-item">
                  <h1>Informações Gerais</h1>
                  <a href="" class="btn btn-lg btn-custom btn-roxo btn-tela-pequena">
                    CRONOGRAMA
                  </a>

                  <a href="" class="btn btn-lg btn-custom btn-roxo btn-tela-pequena">
                    LOCAL
                  </a>
                </div>

              </div><!--/Inner -->

              <!-- Controles -->
              <a href="#carousel-spotify" class="carousel-control-prev" data-slide="prev">
                <i class="fas fa-angle-left fa-3x"></i>
              </a>

              <a href="#carousel-spotify" class="carousel-control-next" data-slide="next">
                <i class="fas fa-angle-right fa-3x"></i>
              </a>

            </div>

          </div>
        </div><!--/row -->
      </div><!--/container -->
    </section><!--/home -->

    <section id="evento" class="caixa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row albuns">
              <div class="col-md-6 sumir-celular">
                <img src="imagens/img1.jpg" class="img-fluid">
              </div>
              <div class="col-md-6 sumir-celular">
                <img src="imagens/img2.jpg" class="img-fluid">
              </div>
            </div>
            <div class="row albuns">
              <div class="col-md-6">
                <img src="imagens/img3.jpg" class="img-fluid">
              </div>
              <div class="col-md-6 sumir-celular">
                <img src="imagens/img4.jpg" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <h2>Como será o evento?</h2>

            <h3>Cerimônia (16h às 16:30h)</h3>
            <p>Nada daquele blablabla chato de sempre. Meia hora de amigos e amigas falando fofocas (boas e ruins) sobre o casal com uma vista maravilhosa.</p>

            <h3>Festa (16:30h às 22h)</h3>
            <p>Dois ambientes, ambos cobertos e com vista da praia, então sem preocupação com chuva e calor! Os dois ambientes são super frescos, sendo um deles com ar-condicionado.</p>


          </div>
        </div>
      </div>
    </section>


    <section id="facil" class="caixa">
      <div class="container">
        <div class="row">
          <div class="col-md-4">

            <h2>Fácil</h2>
            <h3>Local</h3>
            <p>Hotel Atlântico Sul. Endereço: Av. Lúcio Costa, n. 18.000, Recreio dos Bandeirantes, Rio de Janeiro. Tel: (21) 3418-9100.
            </p>

            <h3>Estacionamento</h3>
            <p>O hotel comporta estacionamento privado com serviço de valet gratuito para todos os convidados do casamento.
            </p>

            <h3>Entrada</h3>
            <p>Chegando ao local, basta se dirigir à recepção e indicar seu nome para receber as orientações.
            </p>

          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <img src="imagens/hotel.jpg" class="img-fluid">
              </div>
              <div class="col-md-6 sumir-celular">
                <img src="imagens/cerimonia.jpg" class="img-fluid">
              </div>
            </div>
            <div class="row albuns">
              <div class="col-md-6 sumir-celular">
                <img src="imagens/valet.jpg" class="img-fluid">
              </div>
              <div class="col-md-6">
                <img src="imagens/moca.jpg" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <p>&copy 2022 Lucas Krause. Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
