<div class= "container my-5 py-5">
  <section id="evento" class="caixa">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="row albuns">
                <div class="col-md-6 sumir-celular">
                  <img src="imagens/img1.jpg" class="img-fluid">
                </div>
                <div class="col-md-6 sumir-celular">
                  <img src="imagens/img2.jpg" class="img-fluid">
                </div>
              </div>
              <div class="row albuns">
                <div class="col-md-6">
                  <img src="imagens/img3.jpg" class="img-fluid">
                </div>
                <div class="col-md-6 sumir-celular">
                  <img src="imagens/img4.jpg" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="col-md-6">

              <h2>Como será o evento?</h2>

              <h3>Cerimônia (16h às 16:30h)</h3>
              <p>Nada daquele blablabla chato de sempre. Meia hora de amigos e amigas falando fofocas (boas e ruins) sobre o casal com uma vista maravilhosa.</p>

              <h3>Festa (16:30h às 22h)</h3>
              <p>Dois ambientes, ambos cobertos e com vista da praia, então sem preocupação com chuva e calor! Os dois ambientes são super frescos, sendo um deles com ar-condicionado.</p>


            </div>
          </div>
        </div>
      </section>



          <section id="facil" class="caixa">
        <div class="container">
          <div class="row">
            <div class="col-md-4">

              <h2>Fácil</h2>
              <h3>Local</h3>
              <p>Hotel Atlântico Sul. Endereço: Av. Lúcio Costa, n. 18.000, Recreio dos Bandeirantes, Rio de Janeiro. Tel: (21) 3418-9100.
              </p>

              <h3>Estacionamento</h3>
              <p>O hotel comporta estacionamento privado com serviço de valet gratuito para todos os convidados do casamento.
              </p>

              <h3>Entrada</h3>
              <p>Chegando ao local, basta se dirigir à recepção e indicar seu nome para receber as orientações.
              </p>

            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <img src="imagens/hotel.jpg" class="img-fluid">
                </div>
                <div class="col-md-6 sumir-celular">
                  <img src="imagens/cerimonia.jpg" class="img-fluid">
                </div>
              </div>
              <div class="row albuns">
                <div class="col-md-6 sumir-celular">
                  <img src="imagens/valet.jpg" class="img-fluid">
                </div>
                <div class="col-md-6">
                  <img src="imagens/moca.jpg" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
