<div class="gift_container">

  <div class="gift_main_text">

    <h2>Olá e bem vindo a lista de presentes!</h2>
    <p>
      Como já temos nossa casinha montada, resolvemos pedir de presente de casamento as atividades da Lua de Mel.
      Decidimos ir para Bahia e vamos ficar 1 semana no La Torre Resort All Inclusive em Porto Seguro para descansar bastante dessa vida de doutorandos e pegar um solzinho.
      A viagem vai ser no final de junho de 2023. Longe, né? Mas é quando poderemos tirar férias juntos.
      Colocamos abaixo o custo total das passagens, hospedagem e passeios junto de um qr-code para que possam contribuir com o valor que desejarem dar de presente.
    </p>

  </div>


  <div class="gifts">

    <div class="gift_title">
      <h3>PASSAGEM </h3>
    </div>

    <div class="gift_item">
      <div class="gift_banner">
      <%= image_tag "ross-parmly-rf6ywHVkrlY-unsplash", style: 'height:100%;width:100%'%>
      </div>

      <div class="gift_item_desciption">
        <div class="gift_text">
        <p> Precisamos chegar até a Bahia, não é mesmo? Aqui está incluído o trajeto de ida e volta do Rio para Porto Seguro em jun/2023. </p>
        </div>

        <div class="gift_value">
        <h6>Custo: 2.000</h6>
        </div>
      </div>
    </div>

      <div class="gift_title">
      <h3>HOSPEDAGEM</h3>
    </div>

    <div class="gift_item">
      <div class="gift_banner">
      <%= image_tag "beach_club.jpg", style: 'height:100%;width:100%'%>
      </div>

      <div class="gift_item_desciption">
        <div class="gift_text">
        <p> Para relaxar de verdade, escolhemos um Resort All Inclusive na praia do Mutá. Lá teremos: comida, bebida, spa, piscina, vista para praia e muito mais. </p>
        </div>

        <div class="gift_value">
        <h6>Custo: 8.000</h6>
        </div>
      </div>
    </div>

     <div class="gift_title">
      <h3>PASSEIOS</h3>
    </div>

    <div class="gift_item">
      <div class="gift_banner">
      <%= image_tag "the_corner.jpg", style: 'height:100%;width:100%'%>
      </div>

      <div class="gift_item_desciption">
        <div class="gift_text">
        <p> Além da praia, Porto Seguro tem muitos passeios interessantes que vamos fazer, como conhecer o centro histórico, a costa do descobrimento e o parque marinho do recife de fora. </p>
        </div>

        <div class="gift_value">
        <h6>Custo: 1.000</h6>
        </div>
      </div>
    </div>
    </div>




    <div class="gift_title">
      <h3>Abaixo seguem as informaçoões bancárias</h3>
    </div>
    <div class="gift_payment">
      <div class="gift_pix">
          <%= image_tag "pix_kc.jpg", style: 'height:100%;width:100%'%>
      </div>

      <div class="gift_bank">
        <p>00020126980014BR.GOV.BCB.PIX0124brunaccandrade@gmail.com0248Presente de casamento Bruna e Lucas (Lua de Mel)5204000053039865802BR5917BRUNA C C ANDRADE6009SAO PAULO6226052234EDn7DojGriLYURsxDkdA6304FCA2</p>
      </div>
    </div>
  </div>
</div>
