    <section id="facil" class="caixa">
      <div class="container">
        <div class="row">
          <div class="col-md-4">

            <h2>Fácil</h2>
            <h3>Local</h3>
            <p>Hotel Atlântico Sul. Endereço: Av. Lúcio Costa, n. 18.000, Recreio dos Bandeirantes, Rio de Janeiro. Tel: (21) 3418-9100.
            </p>

            <h3>Estacionamento</h3>
            <p>O hotel comporta estacionamento privado com serviço de valet gratuito para todos os convidados do casamento.
            </p>

            <h3>Entrada</h3>
            <p>Chegando ao local, basta se dirigir à recepção e indicar seu nome para receber as orientações.
            </p>

          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <img src="imagens/hotel.jpg" class="img-fluid">
              </div>
              <div class="col-md-6 sumir-celular">
                <img src="imagens/cerimonia.jpg" class="img-fluid">
              </div>
            </div>
            <div class="row albuns">
              <div class="col-md-6 sumir-celular">
                <img src="imagens/valet.jpg" class="img-fluid">
              </div>
              <div class="col-md-6">
                <img src="imagens/moca.jpg" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
