.sumir-celular

/* Rodapé
-----------------------------*/
footer {
	background-color: linear-gradient(50deg,#ff4169,#7c26f8);
	padding: 15px 0px 10px 0px;
	position: relative;
}

footer p {
	color: #5C4033;
	font-size: 0.8em;
	font-weight: 600;
}
