/* Estrutura conteúdos
-----------------------------*/
.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

#evento {
	background: white;
}

#facil {
	color: white;
}

#evento h2 {
	color: #5C4033;
	padding-bottom: 0.3em;
}

#evento h3 {
	color: #5C4033;
}

#evento p {
	text-align: justify;
	color: #5C4033;
	font-weight: 550;
}

#facil h2 {
	color: #5C4033;
	padding-bottom: 0.3em;
}

#facil h3 {
	color: #5C4033;
}

#facil p {
	color: #5C4033;
	text-align: justify;
	font-weight: 550;
}

.albuns {
	padding: 10px 0;
}
